@import 'override.styl'

.custom-block.tip
  border-color $accentColor

table
  font-size 14px
  line-height 1.6

th, td
  padding: .4em .8em

.el-table
  table
    margin 0
    font-size inherit
  th, td
    border-left initial
    border-top initial

mark
  background-color: #fffecb;
  background: linear-gradient(#0000 50%,#fffecb 0);
