.lv {
  &__main {
    padding: 10px;
    padding-bottom: 5px;
    background-color: #fff;
    border: 5px solid #f0f2f5;
  }

  &__content {
    overflow: auto;

    .el-table__empty-text {
      width: auto;
      max-width: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__message {
    display: flex;
    padding: 15px 20px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px #ddd;

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
      font-size: 24px;
    }

    &-text {
      font-size: 14px;
      text-align: left;
    }

    &--success &-icon {
      color: #6ac243;
    }

    &--warning &-icon {
      color: #f90;
    }

    &--info &-icon {
      color: #459ffc;
    }

    &--error &-icon {
      color: #f56c6c;
    }
  }

  &__footer {
    display: flex;
    padding-top: 5px;

    &-left,
    &-center,
    &-right {
      display: flex;
      flex: 1;
      align-items: center;
    }

    &-left {
      justify-content: flex-start;
    }
    &-center {
      flex: inherit;
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
  }
}

.lv__wrapper {
  overflow: auto;

  .el-table .el-table__body tr.el-table__row.row--selected td {
    background-color: #ffd;
  }

  .el-table th {
    background: #f5f7fa;
  }

  .el-table-column--single-selection .el-radio__label {
    display: none;
  }

  // Element-ui overwrite
  .el-pagination {
    &.is-background {
      .btn-next,
      .btn-prev,
      .el-pager li {
        margin: 0 8px 0 0;
      }
      .el-select .el-input {
        margin: 0;
      }
    }
  }
  .el-table--border .el-table-column--selection .cell {
    padding-right: 10px;
    padding-left: 10px;
  }
}
